{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="center">
    <h1>パスワードリセットページ</h1>
    <p class="lead">メールアドレスを入力してください。</p>
  </div>
　　<form action="" method="POST">
  <div class="row">
    <div class="col-sm-8 offset-sm-2">
　　　　    <div class="card">
  　　　　    <div class="card-block">
            <div class="form-group">
              {{ form.email }}
            </div>
    　　    {% csrf_token %}
    　　    <button type="submit" class="btn btn-lg btn-block btn-outline-primary">送信</button>
  　　　　    </div>
　　　　    </div>
      </div>
    </div>
　　</form>
</div>
{% endblock %}