{% extends "profiles/base.html" %}

{% block title %}
    <title>Kagikko {{ post.name }} Profile</title>
{% endblock %}

{% block content %}
  <div align="center">
    <h1>Your Profile</h1><br/>

    <h3>{{ post.name }}</h3><br/>
    <h4>学年　{{ post.grade }}　　学系　{{ post.major }}</h4><br/>
    <h4>コメント</h4>
    <p>{{ post.text }}</p><br/>
    </div>

    {% if user.is_authenticated %}
      <div align="center">
        <a href="{% url 'profile_edit' %}" class="btn btn-primary">編集</a>
      </div>
    {% endif %}

{% endblock %}
