{% extends "base.html" %}

{% block title %}
    <title>Kagikko Home</title>
{% endblock %}


{% block content %}

    <h5>最新スレッド5件</h5>
    {% for post in pk_list %}
      {% for db_post in db_poll %}
        {% if post == db_post.pk %}
          <h8><a href="{% url 'keijiban:index' pk=db_post.pk %}">{{ db_post.subname }}</a></h8><br>
        {% endif %}
      {% endfor %}
    {% endfor %}
    <br>

    <h5>ご意見・ご要望</h5>
    <form method="POST" class="post-form">
      {% csrf_token %}
      <p>名前:{{ form.name }}</p>
      <p>件名:{{ form.title }}</p>
      <p>内容:{{ form.message }}</p>
      <input type="submit" class="btn btn-primary" value="投稿">
    </form>

{% endblock %}
